# Python
__pycache__/
*.py[cod]
.venv/
venv/
.ipynb_checkpoints/

# Local database (re-created by scripts/run_sql.py)
*.db

# Office temp files
~$*.xlsx

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
